<template>
  <div class="page" data-name="catalog" id="catalog">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="title">Catalog</div>
      </div>
    </div>
    <div class="page-content">
      <div class="list links-list">
        <ul>
          {{#each products}}
            <li><a href="/product/{{id}}/">{{title}}</a></li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      return {
        products: this.$root.products,
      };
    }
  };
</script>
