<div class="page" data-name="contacts" id="contacts">
          <!-- Top Navbar -->
          <div class="navbar">
            <div class="navbar-inner">
              <div class="left">
                <a href="#" class="link icon-only panel-open" data-panel="left">
                  <i class="icon f7-icons ios-only">menu</i>
                  <i class="icon material-icons md-only">menu</i>
                </a>
              </div>
              
	      <div class="title sliding">Contacts</div>
              <div class="right">
               <a class="link icon-only searchbar-enable" data-searchbar="#contact_searchbar">
                 <i class="icon f7-icons ios-only">search_strong</i>
                 <i class="icon material-icons md-only">search</i>
              </a>
              </div>



      <form class="searchbar searchbar-expandable" id="contact_searchbar">
        <div class="searchbar-inner">
          <div class="searchbar-input-wrap">
            <input type="search" placeholder="Search"/>
            <i class="searchbar-icon"></i>
            <span class="input-clear-button"></span>
          </div>
          <span class="searchbar-disable-button">Cancel</span>
        </div>
      </form>


            </div>
          </div>



  <div class="page-content">
    <div class="list contacts-list">
      <div class="list-group" id="contact_list">

        <ul>
          <li class="list-group-title">A</li>
            <li>
              <a href="#" class="item-link item-content">
                <div class="item-media"><img src="img/plumber_icon.jpg" /></div>
                <div class="item-inner">Plumber - Happy worker for 500THB/hour</div>
              </a>
            </li>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>
