<template>
  <div class="page" data-name="products">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title">{{product.title}}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block-title">About {{product.title}}</div>
      <div class="block block-strong">
        {{product.description}}
      </div>
    </div>
  </div>
</template>
<script>
  return {
    data: function () {
      var productId = this.$route.params.id;
      var currentProduct;
      this.$root.products.forEach(function (product) {
        if (product.id === productId) {
          currentProduct = product;
        }
      });
      return {
        product: currentProduct,
      };
    }
  };
</script>
