<div class="page" data-name="your_business" id="your_business">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
      <div class="title">Your Business</div>
      </div>
      <div class="right">
       <button class="col button button-fill color-black save_btn" id="save">Save</button>
      </div>
    </div>
  </div>
  <div class="page-content">
    <form class="list" id="profile">
    <div class="list no-hairlines-md">
      <ul>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">E-mail</div>
              <div class="item-input-wrap">
                <input type="email" name="email" placeholder="E-mail"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">URL</div>
              <div class="item-input-wrap">
                <input type="url" name="url" placeholder="URL"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Password</div>
              <div class="item-input-wrap">
                <input type="password" name="password" placeholder="Password"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Phone</div>
              <div class="item-input-wrap">
                <input type="tel" name="phone" placeholder="Phone"/>
              </div>
            </div>
          </div>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="service" value="plumber" checked="checked"/>
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Plumber</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="service" value="cleaner"/>
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Cleaner</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="service" value="mechanic"/>
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Mechanic</div>
            </div>
          </label>
        </li>
        <li>
          <label class="item-checkbox item-content">
            <input type="checkbox" name="service" value="massage"/>
            <i class="icon icon-checkbox"></i>
            <div class="item-inner">
              <div class="item-title">Massage</div>
            </div>
          </label>
        </li>
        <li class="align-top">
          <div class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Service Description</div>
              <div class="item-input-wrap">
                <textarea placeholder=""></textarea>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <input type="hidden" name="_id" value="profile" />
    </form>

</div>
</div>
