<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
     <title>Plumber.run</title>
     <!-- FontAwesome -->
     <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
     <!-- Google Web Fonts -->
     <link href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,300italic,400italic,500italic" rel="stylesheet" type="text/css">
     <!-- The CSS -->
     {{ assets.outputCss() }}
     <!-- This js is used for the menu works in older browsers -->
     <!--[if lt IE 9]>
     <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
     <![endif]-->
  </head>
  <body>
    <nav class="menu-container">
      <a href="#" class="menu-btn"><i class="fa fa-bars fa-lg"></i></a>
      <div class="menu-slide">
        <ul class="menu-list">
          <li class="menu-item"><a href="#">Home</a></li>
          <li class="menu-item"><a href="#">About us</a></li>
          <li class="menu-item"><a href="#">Documentation</a></li>
        </ul>
      </div>
    </nav>
  </body>
</html>
